.iframeContainer {
  padding: 20px;
  border: 1px solid #e4c3e4ee;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  background: #e4c3e4ee;
  color: #d80fc7;
  font-weight: 300;
  font-size: 16px;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  padding-bottom: 80px;
}

a {
  color: #9f0fd8;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  }
  
h1 {
  color: #860cb6;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

h2 {
  color: #ec1fdb;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
   }

p {
  color: #860cb6;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
   }

footer.footer{
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color:#da84d5;
  font-family: "Avantgarde", TeX Gyre Adventor, URW Gothic L, sans-serif;
	border-radius: .3rem;
	}
